
.hole {
  background: url("/hole.png") no-repeat center/contain;
}

.mole {
  background-image: url("/mole.png");
}

.board{
  justify-self: center;
  width: 45vw;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
}